body{
    font-family: 'Poppins', sans-serif;
}

.intro{
    text-align: center;
    font-size: xx-large;
    color: rgb(230, 40, 15);
   
}
.hey{
background-color: tomato;
border-radius: 50% 50% 50% 50%;
transform: scaleX(1);
  
}
.cng-color{
    color:tomato;
    font-size: xx-large;
}
#fo
    {
    color: tomato;
}
.order{
    text-decoration:none;
    padding: 10px 40px;
    background-color: magenta;
    border-radius: 20px;
}
.flx{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%;
}
.bc{
    width: 100%;
    height:600px;
    padding-left: 5%;
}
.cng{
    width: 50%;
    color: tomato;
    padding-left: 5%;
}

.b1{
    color: rgb(236, 119, 24);
    font-size: xx-large;
}


.a1{
    color:rgb(206, 103, 20);
    font-size: xx-large;
}
.enter{
    display: flex;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100 
}
.ip{
    width: 50%;   
    color: rgb(245, 56, 22);
    padding-left: 5%;
}

   
.button{
    text-decoration: none;
    padding: 10px 40px;
    background-color: teal;
    border-radius: 20px;
    
}
    
